<div class="container col-7 my-4" >
  @if( !flagSurvey ){
    <div class="card my-4">
      <div class="card-header">
        <h5 class="card-tittle">
          {{ title }}
        </h5>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
          <input name="username"
            class="form-control my-2 w-25"
            placeholder="Username"
            [(ngModel)]="auth.user"
            #user="ngModel"/>
            @if (user.invalid && (user.dirty || user.touched)) {
              @if (user.errors!['required']) {
                <div class="alert alert-danger">
                  user es requerido.
              </div>
              }
            }
          <input name="password"
            class="form-control my-2 w-25"
            type="password"
            placeholder="Password"
            [(ngModel)]="auth.password"
            #password="ngModel"/>
            @if (password.invalid && (password.dirty || password.touched)) {
              @if (password.errors!['required']) {
                <div class="alert alert-danger">
                  password es requerido.
              </div>
              }
            }
          <button class="btn btn-primary" type="submit">
              Aceptar
          </button>
        </form>
        <br />
      </div>
      <!--
        <button class="btn btn-secondary"
                    (click)="irAPagina()">
              Ir a Pagina
          </button>

            <a class="nav-link" [routerLink]="['/form/survey']">Crear Usuario</a>
          -->
    </div>
  }
  @if(flagSurvey){
    <router-outlet></router-outlet>
  }

  @if(mostrarCrear){
    <user-form [newUser]="newUser" (mostrarCrearEmmit)="setMostrarCrear()"/>
  }

</div>

